body {
  animation: fade-in linear 1s;
  background-color: #f8f9fa;
  max-height: 100vh;
}

.container {
  animation: fade-in linear 1s;
  background-color: transparent;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 10;
}

/*
.container-sign-in {
  background-color: rgb(0 0 0 / 60%);
  max-width: 575px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Orbitron, sans-serif;
  z-index: 0;
} */

.nav-bar {
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6c757d;
  display: flex;
  height: 50px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  padding-right: 0;
  position: relative;
}

.row {
  display: flex;
}

.row-100 {
  display: flex;
  width: 100%;
}

.hidden {
  display: none !important;
}

.non-visible {
  visibility: hidden;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.col-half,
.col-three-fifth,
.col-four-fifth,
.col-two-fifth,
.col-forty-five,
.col-full {
  width: 100%;
  padding: 0;
}

.col-one-third {
  width: 50%;
  padding: 0;
}

.col-nine-tenth {
  width: 90%;
  padding: 0;
}

.col-four-fifth-p {
  width: 95%;
  padding: 0;
}

.col-one-tenth {
  width: 20%;
  padding: 0;
}

.col-one-fifth {
  width: 30%;
  padding: 0;
}

.mg-b-1 {
  margin-bottom: 1rem;
}

.mg-t-75 {
  margin-top: 0.75rem;
}

.mg-t-150 {
  margin-top: 2.5rem;
}

.mg-r-75 {
  margin-right: 0.75rem;
}

.mg-r-200 {
  margin-right: 2rem;
}

.mg-l-75 {
  margin-left: 0.75rem;
}

.no-dec {
  text-decoration: none;
}

.row-padding {
  padding: 0 16px;
}

.row-wrapping {
  flex-wrap: wrap;
}

.container-horizontal-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.container-vertical-padding {
  padding-top: 16px;
  padding-bottom: 16px;
}

.box-relative-position {
  position: relative;
}

.mobile-col-1 {
  width: 8.3%;
}

.mobile-col-2 {
  width: 16.6%;
}

.mobile-col-3 {
  width: 25%;
}

.mobile-col-4 {
  width: 33.3%;
}

.mobile-col-5 {
  width: 41.7%;
}

.mobile-col-6 {
  width: 50%;
}

.mobile-col-7 {
  width: 58.3%;
}

.mobile-col-8 {
  width: 66.6%;
}

.mobile-col-9 {
  width: 75%;
}

.mobile-col-10 {
  width: 83.3%;
}

.mobile-col-11 {
  width: 91.7%;
}

.mobile-col-12 {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  /* .container,
  .container-sign-in,
  .nav-bar {
    max-width: 900px;
  } */

  .nav-bar {
    padding-left: 2rem;
  }

  .col-half,
  .col-one-third,
  .col-one-tenth,
  .col-one-fifth,
  .col-three-fifth,
  .col-four-fifth,
  .col-four-fifth-p,
  .col-two-fifth,
  .col-nine-tenth,
  .col-full {
    padding: 0;
  }

  .col-one-tenth {
    width: 10%;
  }

  .col-one-fifth {
    width: 20%;
  }

  .col-one-third {
    width: 30%;
  }

  .col-half {
    width: 50%;
  }

  .col-four-fifth,
  .col-four-fifth-p {
    width: 80%;
  }

  .col-three-fifth {
    width: 60%;
  }

  .col-two-fifth {
    width: 40%;
  }

  .col-forty-five {
    width: 45%;
  }

  .col-nine-tenth {
    width: 90%;
  }

  .col-full {
    width: 100%;
  }

  .row-padding {
    padding: 0 24px;
  }

  .container-horizontal-padding {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container-vertical-padding {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .tablet-col-1 {
    width: 8.3%;
  }

  .tablet-col-2 {
    width: 16.6%;
  }

  .tablet-col-3 {
    width: 25%;
  }

  .tablet-col-4 {
    width: 33.3%;
  }

  .tablet-col-5 {
    width: 41.7%;
  }

  .tablet-col-6 {
    width: 50%;
  }

  .tablet-col-7 {
    width: 58.3%;
  }

  .tablet-col-8 {
    width: 66.6%;
  }

  .tablet-col-9 {
    width: 75%;
  }

  .tablet-col-10 {
    width: 83.3%;
  }

  .tablet-col-11 {
    width: 91.7%;
  }

  .tablet-col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .row-padding {
    padding: 0 32px;
  }

  .container-horizontal-padding {
    padding-left: 32px;
    padding-right: 32px;
  }

  .container-vertical-padding {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .desktop-col-1 {
    width: 8.3%;
  }

  .desktop-col-2 {
    width: 16.6%;
  }

  .desktop-col-3 {
    width: 25%;
  }

  .desktop-col-4 {
    width: 33.3%;
  }

  .desktop-col-5 {
    width: 41.7%;
  }

  .desktop-col-6 {
    width: 50%;
  }

  .desktop-col-7 {
    width: 58.3%;
  }

  .desktop-col-8 {
    width: 66.6%;
  }

  .desktop-col-9 {
    width: 75%;
  }

  .desktop-col-10 {
    width: 83.3%;
  }

  .desktop-col-11 {
    width: 91.7%;
  }

  .desktop-col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .container,
  .container-sign-in,
  .nav-bar {
    max-width: 1200px;
  }

  .nav-bar {
    padding-left: 2rem;
  }

  .col-half,
  .col-one-third,
  .col-one-fifth,
  .col-one-tenth,
  .col-three-fifth,
  .col-four-fifth,
  .col-four-fifth-p,
  .col-two-fifth,
  .col-nine-tenth,
  .col-full {
    padding: 0;
  }

  .col-one-tenth {
    width: 10%;
  }

  .col-one-fifth {
    width: 20%;
  }

  .col-one-third {
    width: 30%;
  }

  .col-half {
    width: 50%;
  }

  .col-four-fifth,
  .col-four-fifth-p {
    width: 80%;
  }

  .col-three-fifth {
    width: 60%;
  }

  .col-two-fifth {
    width: 40%;
  }

  .col-forty-five {
    width: 45%;
  }

  .col-nine-tenth {
    width: 90%;
  }

  .col-full {
    width: 100%;
  }
}

@keyframes fade-in {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}
