/* font-family: 'Meddon', cursive;
font-family: 'Montserrat', sans-serif; */

/* nav-bar */

.name-title {
  font-family: Meddon, cursive;
  color: #343a40;
  font-size: 0.8rem;
}

.anchor-holder,
.footer-anchor-holder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Montserrat, sans-serif;
}

.anchor-tag {
  text-decoration: none;
  color: #343a40;
  cursor: pointer;
  transition-duration: 0.5s;
  font-size: 0.6rem;
}

.slide-tag {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #343a40;
  cursor: pointer;
  transition-duration: 0.5s;
  font-size: 1rem;
  line-height: 35px;
}

.menu-button {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 0.5rem;
}

.anchor-tag:visited,
.slide-tag:visited {
  color: #6c757d;
}

.anchor-tag:hover,
.slide-tag:hover {
  color: #adb5bd;
}

.slide-tag:hover {
  border-bottom: 1px solid #343a40;
  transform: translateX(1rem);
}

.menu-modal-holder {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 40%);
  position: fixed;
  z-index: 1;
}

.slide-menu {
  background-color: white;
  position: absolute;
  top: 0;
  left: -999px;
  width: 220px;
  height: 100vh;
  z-index: 5;
  transition: transform 0.5s;
  padding: 0 1rem;
  font-family: Montserrat, sans-serif;
}

.slide-menu.open {
  transform: translateX(999px);
}

.menu-title-holder {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  color: #343a40;
  border-bottom: 2px solid #343a40;
  margin-bottom: 3rem;
}

.menu-title-holder > h2 {
  font-size: 1.2rem;
}

.slide-menu-exit {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  transition: 0.5s;
  color: #343a40;
}

.slide-menu-exit:hover {
  color: #adb5bd;
}

/* hero-section */

.hero-section-holder {
  max-width: 100vw;
  background-color: #0f1110;
  height: 500px;
  margin-top: 2rem;
}

.hero-image-holder {
  width: 100%;
  background-image: url("./images/pexels-photo-234527.jpeg");
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  padding-top: 3rem;
}

.self-intro {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #e9ecef;
}

.self-intro > span {
  font-family: Meddon, cursive;
  color: #e9ecef;
}

.self-intro-sub {
  color: #e9ecef;
  font-family: Montserrat, sans-serif;
  margin-top: 0;
  font-weight: 300;
}

/* about-me */

.about-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-image-holder {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-image-holder > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
}

.img-hover {
  opacity: 50%;
}

.hover-button-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 5;
  animation: fade-in linear 1s;
  text-align: center;
}

.button-content-holder {
  padding: 0.5rem 0.75rem;
  font-family: Montserrat, sans-serif;
}

.button-content {
  margin-bottom: 1rem;
  font-size: 0.7rem;
}

.button-content-holder > a {
  width: 40%;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.about-button {
  color: #495057;
  border: none;
  border-bottom: 2px solid #495057;
  display: inline-block;
}

.skill-button {
  color: #f8f9fa;
  border: none;
  border-bottom: 2px solid #f8f9fa;
  display: inline-block;
}

.about-button:hover,
.skill-button:hover {
  transform: scale(1.2);
}

.about-content {
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content-holder {
  font-family: Montserrat, sans-serif;
  width: 80%;
  line-height: 1.5rem;
  color: #495057;
  text-align: center;
  animation: fade-in linear 1s;
  font-size: 0.7rem;
}

.about-content-holder span {
  font-weight: 600;
  font-style: italic;
}

.skill-content {
  height: 300px;
  background-color: #dee2e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}

/* project  */

.title-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #6c757d;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.title-row h1 {
  font-weight: 400;
  margin-bottom: 1rem;
  color: #495057;
}

.title-sub {
  color: #adb5bd;
  font-size: 0.9rem;
}

.project-image-holder {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-image-holder > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
}

.project-button-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  animation: fade-in linear 1s;
  text-align: center;
  padding-top: 3rem;
  font-family: Montserrat, sans-serif;
}

.project-button-holder > a {
  width: 40%;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.project-content-holder {
  font-family: Montserrat, sans-serif;
  width: 80%;
  margin: 3rem auto;
  line-height: 1.5rem;
  color: #495057;
  text-align: center;
  animation: fade-in linear 1s;
  font-size: 0.8rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 40%);
  animation: fade-in linear 0.5s;
}

.project-button-holder h1 {
  color: #f8f9fa;
  font-weight: 300;
  margin: 1rem auto;
}

/* contact  */

.contact-title {
  font-family: Montserrat, sans-serif;
  color: #495057;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.contact-info {
  font-family: Montserrat, sans-serif;
  color: #343a40;
  font-size: 0.8rem;
}

.contact-title span {
  font-family: Meddon, cursive;
}

.contact-button-exp {
  font-size: 0.7rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  color: #adb5bd;
  font-family: Montserrat, sans-serif;
}

.form-holder {
  margin: 1rem auto;
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 0;
  transition-duration: 1s;
}

.form-open {
  height: 470px;
}

.contact-button {
  margin: 1rem auto;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.5s;
  color: #495057;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.contact-button:hover {
  transform: scale(1.2);
}

.form-content {
  margin: 1.5rem auto;
  padding: 0 0.5rem;
  font-family: Montserrat, sans-serif;
  animation: fade-in linear 3.5s;
  color: #495057;
}

.form-label {
  margin-bottom: 1rem;
}

.form-input {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #495057;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-family: Montserrat, sans-serif;
  padding: 0.25rem 0.5rem;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #adb5bd;
  font-style: italic;
}

.form-textarea {
  width: 100%;
  border: 2px solid #495057;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  height: 60px;
}

.form-content-image {
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 100px;
  margin-bottom: 3rem;
}

.contact-info-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-image: url("./images/pexels-fauxels-3184450.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
  transition: 1.5s;
}

.comment-hover {
  opacity: 40%;
}

.comment-bold {
  transform: scale(1.1);
}

.msg-status {
  color: #003566;
}

.msg-status p {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* footer  */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.25rem 1rem;
  background-color: transparent;
  border: none;
  border-top: 2px solid #6c757d;
}

.footer-content {
  font-weight: 400;
  color: #343a40;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 0.6rem;
  transition-duration: 0.5s;
}

.footer-content:hover,
.fa-linkedin-in:hover,
.fa-github:hover,
.fa-envelope:hover {
  color: #adb5bd;
}

.footer-content:visited {
  color: #6c757d;
}

/* blog, signin */

.title-content span {
  font-family: Meddon, cursive;
}

.title-sub a {
  color: #6c757d;
  cursor: pointer;
  font-weight: 500;
}

.post-creation-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url("./images/pexels-negative-space-34088\ copy.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.shadow-holder {
  padding: 1rem 2rem;
  background-color: rgb(0 0 0 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  animation: fade-in linear 0.7s;
}

.blog-form-holder {
  height: 0;
  width: 100%;
  transition-duration: 0.5s;
  border-bottom: 4px solid #e9ecef;
}

.blog-form-open {
  height: 400px;
  background-color: white;
}

.post-button {
  width: 100%;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.5s;
  color: #f8f9fa;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.post-button:hover {
  transform: scale(1.2);
}

.signin-modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  padding: 0.5rem;
}

.signin-block {
  padding: 1.25rem 1rem;
  background-color: white;
  text-align: center;
  border-radius: 3px;
  animation: fade-in linear 0.7s;
  font-family: Montserrat, sans-serif;
  position: relative;
}

.signin-block h3 {
  font-weight: 300;
  margin-bottom: 3rem;
  color: #6c757d;
}

.exit-sign {
  position: absolute;
  top: 40px;
  right: 10px;
  color: #495057;
  font-size: 1.3rem;
  cursor: pointer;
  transition-duration: 0.5s;
}

.exit-sign:hover {
  transform: scale(1.2);
}

.input-holder {
  margin-bottom: 2rem;
}

.sign-in-label {
  color: #495057;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.sign-in-input {
  display: block;
  width: 60%;
  font-size: 1rem;
  color: #495057;
  padding: 0.25rem 0.5rem;
  border: none;
  border-bottom: 2px solid #495057;
  margin: 0.25rem auto;
  background-color: transparent;
}

.sign-in-input::placeholder {
  color: #adb5bd;
  font-style: italic;
  font-family: Montserrat, sans-serif;
  font-size: 0.7rem;
}

.sign-in-button {
  width: 40%;
  margin: 1rem auto;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.5s;
  color: #6c757d;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 500;
}

.sign-in-submit {
  width: 30%;
  margin: 1rem auto;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.5s;
  color: #495057;
  border: none;
  border-bottom: 2px solid #495057;
  display: block;
  cursor: pointer;
}

.error-message-holder {
  height: 60px;
}

.error-message {
  color: #ef476f;
}

.sign-out-button {
  color: #6c757d;
  padding: 0.15rem 0.25rem;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

/* blog form */

.blog-form {
  margin: 0 auto;
  animation: fade-in linear 2s;
  font-family: Montserrat, sans-serif;
  padding: 1rem 0.75rem;
  text-align: center;
}

.blog-form label,
.blog-form input {
  display: block;
}

.blog-form > label,
.blog-edit > label {
  font-weight: 400;
  margin-bottom: 0.75rem;
  margin-top: 1.2rem;
}

.blog-form-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #495057;
  margin-bottom: 1.25rem;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}

/* #image {
  border: 1px solid #495057;
  width: 40%;
  margin: 0.5rem auto;
} */

.blog-form textarea,
.blog-edit textarea {
  width: 100%;
  height: 100px;
  overflow-y: auto;
  border-radius: 2px;
  border: 2px solid #495057;
  font-family: Montserrat, sans-serif;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}

.blog-form-input::placeholder,
.blog-form textarea::placeholder,
.blog-edit textarea::placeholder {
  color: #adb5bd;
  font-style: italic;
  font-family: Montserrat, sans-serif;
  font-size: 0.7rem;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  padding: 0.25rem 0.5rem;
  border: 1px solid #495057;
  cursor: pointer;
  margin-right: 0.75rem;
  font-size: 0.8rem;
}

#image {
  margin: 0.5rem auto;
  font-family: Montserrat, sans-serif;
}

.post-button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.post-submit-button {
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  transition-duration: 0.5s;
  color: #495057;
  border: none;
  border-bottom: 1px solid #495057;
  cursor: pointer;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.post-submit-button:hover {
  transform: scale(1.2);
}

/* post display */

.post-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0 0.5rem;
}

.post-holder {
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 5px 5px -2px rgb(81 81 81 / 70%);
  font-family: Montserrat, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-image-holder {
  height: 200px;
  position: relative;
  cursor: pointer;
}

.post-image-holder > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
}

.post-content-holder {
  padding: 1.5rem 2.75rem;
  color: #495057;
  cursor: pointer;
  padding-bottom: 0.25rem;
}

.post-content-holder h3,
.post-content-holder h4,
.post-content-holder h5,
.post-content-holder h6,
.post-content-holder h2 {
  margin: 0.25rem;
  font-weight: normal;
}

.post-content-holder h2 {
  font-size: 1.2rem;
}

.post-content-holder h3 {
  font-size: 0.9rem;
}

.post-content-holder h4 {
  font-size: 1rem;
}

.post-content-holder h6 {
  font-size: 0.7rem;
}

.post-detail-button {
  color: #495057;
  font-size: 1.3rem;
  transition-duration: 1s;
  cursor: pointer;
}

.post-detail-button:hover {
  transform: scale(1.2);
}

.detail-img-holder {
  height: 300px;
  width: 100%;
}

.detail-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
}

.detail-content-holder {
  padding: 1rem 0;
  margin: 1rem 0;
  text-align: justify;
  overflow-y: auto;
  max-height: 300px;
  color: #495057;
}

.post-detail-content {
  white-space: break-spaces;
  font-size: 0.8rem;
}

.edit-delete-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.25rem;
  padding: 1rem 1.75rem;
  padding-top: 0;
}

.edit-button {
  margin-left: 0.3rem;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition-duration: 0.5s;
  color: #495057;
  border: none;
  cursor: pointer;
}

.blog-edit {
  padding: 3rem 1.5rem;
  background-color: white;
  color: #495057;
  text-align: center;
  border-radius: 3px;
  animation: fade-in linear 0.7s;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 450px) {
  .detail-img-holder,
  .detail-img {
    height: 100px;
  }

  .post-content-holder {
    padding-top: 0.25rem;
  }

  .post-content-holder h2 {
    font-size: 1rem;
  }

  .post-content-holder h3 {
    font-size: 0.6rem;
  }

  .post-content-holder h6 {
    font-size: 0.5rem;
  }

  .detail-content-holder {
    max-height: 220px;
  }

  .post-detail-content {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .anchor-holder {
    display: none;
  }

  .detail-img-holder,
  .detail-img {
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .about-content-holder,
  .button-content,
  .project-content-holder,
  .name-title,
  .post-detail-content {
    font-size: 1rem;
  }

  .post-content-holder h2 {
    font-size: 1.5rem;
  }

  .post-content-holder h3 {
    font-size: 1.1rem;
  }

  .post-content-holder h4 {
    font-size: 1.1rem;
  }

  .post-content-holder h6 {
    font-size: 0.8rem;
  }

  .anchor-tag,
  .footer-content {
    font-size: 0.8rem;
  }

  .footer {
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .anchor-tag,
  .footer-content {
    font-size: 1rem;
  }
}
